processed_data/multiclass/labels_stratified_binary.parquet
logs.log
processed_data/binary_classification/fit_data_stratified_binary.parquet
processed_data/binary_classification/labels_stratified_binary.parquet
processed_data/multiclass/fit_data_chunk_0.parquet
processed_data/multiclass/fit_data_stratified_binary.parquet
processed_data/multiclass/labels_chunk_0.parquet
clf_binary_land_water_clean copy.ipynb
catboost_info/catboost_training.json
catboost_info/learn_error.tsv
catboost_info/time_left.tsv
catboost_info/learn/events.out.tfevents
catboost_info/tmp/cat_feature_index.1dbbbaf-52c2f4fc-68e3fed-72754878.tmp
catboost_info/tmp/cat_feature_index.7d230400-3d4f5c91-7834e783-30ac54db.tmp
catboost_info/tmp/cat_feature_index.27f92415-822e863c-efdac0a4-d89a107c.tmp
catboost_info/tmp/cat_feature_index.482a09a3-5f50627-be08c046-bc917db2.tmp
catboost_info/tmp/cat_feature_index.7620cc47-4215ec98-4b485220-36992cc4.tmp
catboost_info/tmp/cat_feature_index.41698f88-45283c5a-c066d80f-5bdcbc8d.tmp
catboost_info/tmp/cat_feature_index.c38e9a7-79b4a718-ff6b9d53-84e30bfd.tmp
catboost_info/tmp/cat_feature_index.ca10af7c-46026cff-afcb74e7-635d396a.tmp
catboost_info/tmp/cat_feature_index.edd273f3-b2403026-27b3e4a3-939b23bc.tmp
catboost_info/tmp/cat_feature_index.f6da12c1-70d0b7e1-e37fd5fa-bd2e0857.tmp
processed_data/multiclass/data_w_features/fit_data_multiclass_stat_features_only.parquet
processed_data/multiclass/labels_multiclass_raw_counts_only.parquet
.gitignore
processed_data/binary_classification/data_w_features/labels_binary_stats_features_only.parquet
processed_data/multiclass/fit_data_multiclass_raw_counts_only.parquet
.gitignore
catboost_info/tmp/cat_feature_index.da685134-fa34a775-7c900af2-f24f06d.tmp
processed_data/binary_classification/data_w_features/combined_features.parquet
catboost_info/tmp/cat_feature_index.a754c5e0-e42eed3d-9157e59e-741ce489.tmp
*.tmp
articoli/Komjathy, GPS Signal Scattering from Sea Surface..pdf
*pdf
*.nc
.parquet
*.parquet
*.shp
*.shx
*.dbf
.xlsx
*.prj
*.cpg
*.geojson
*.html
*.json
*.csv
*.pkl
*.zip
*.pptx
binary_classification_ensembled_experiment
*.png
binary_classification_experiment
mlruns/*
*.joblib
*.cbm
mlartifacts/556727057629350539/models/m-7ebf76d836b3421c952a97087508d092/artifacts/conda.yaml
*.yaml
*.cb
mlartifacts/*

mlflow_gitlab_test.ipynb
geo-k-compression_model/catboost_info/learn_error.tsv
geo-k-compression_model/catboost_info/time_left.tsv

geo-k-compression_model/catboost_info/learn/events.out.tfevents
tabnet_binary_classifier_gpu.zip/network.pt
tabnet_binary_raw_counts_peak.zip.zip
mlflow_gitlab_test (1).ipynb
